* {
    font-family: 'Times New Roman', Times, serif;
}

.app-title,
table,
* {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

#main {
    padding: 50px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app-search-panel {
    line-height: 5px;
}

#app-navbar {
    height: 60px;
    font-weight: bold;
    color: #146EB4 !important;
}

.app-title {
    font-size: 3.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

.app-desc {
    font-size: 1.2em;
    font-style: italic;
}

td {
    font-size: 1.1em;
}

.card-header {
    background-color: #146EB4 !important;
    color: white;
}